# Ignore Python compiled files
__pycache__/
*.py[cod]
# Ignore build
build/

# Ignore virtual environments
venv/
env/

# Ignore package metadata files
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any other temporary files
*.log
